*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    overflow-x: hidden;
}

  
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    font-size: 20px;
    height: 50px;
}
.navlogo
{
    padding: 10px 0;
}
.listItems{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 15px;
}
.listItems button:hover{
    background-color: grey;
}
.listItems button{
    color: black ;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
}
body {
    
    width: 100%;
    height: 100%;
    background-image: url('bg-book2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }

.input-group{
    margin-left: 500px;
    margin-right: 500px;
}
.center{
    margin: auto;
    margin-top: 200px;
    text-align: center;
}
#header{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.book-list{
    margin-top: 50px;
    visibility: hidden;
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg-book2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

  #header {
    font-family: "Arial", sans-serif;
    font-size: 24px;
  }
  
  h1 {
    font-family: "Times New Roman", serif;
  }
  #logoutBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
  }
